@charset "utf-8";
///////////////////////////////////////////////////////////
//
//   共通部分用SCSS
//   作成者：Comdesign
//   作成日：2018/1/15
//
///////////////////////////////////////////////////////////
//---------------------------------------------------------
// 必要ファイルインポート
//---------------------------------------------------------

@import "variables";
@import "mixins";

@import "reset";
@import "node_modules/bootstrap/scss/bootstrap";
@import "fontawesome";

//---------------------------------------------------------
// 基本属性
//---------------------------------------------------------
html,
body {
    color: $clr_gray;
    font-size: $fnt_size_default;
    font-weight: $fnt_weight_default;
    font-family: $fnt_family_default;
    line-height: $fnt_lh_default;
    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}

a {
    color: $clr_a_main;
    transition: all .4s ease;
    &:hover,
    &:active,
    &:focus {
        color: $clr_a_hover;
        text-decoration: none;
        transition: all .4s ease;
    }
}

ul{
	list-style: none;
}

button{
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus{
		outline: 0;
	}
}

img {
	max-width: 100%;
}
//
//.pc{
//	display: block;
//}
//
//.sp{
//	display: none;
//}
//
//.pc-t{
//	display: table;
//}
//
//.sp-t{
//	display: none;
//}

.fas:before{
  font-family: 'Font Awesome 5 Free';
}

.bg {
	&-gray {
		background: #f3f3f3 !important;
	}
}


.btn {
	// custom size
	&-xs {
		font-size: 10px;
		padding: 4px 5px;
		line-height: 1em;
	}
	// custom color
	&-green {
		color: $clr_bg_main;
		background: $clr_green2;
		border: solid 2px $clr_green2;
		&:hover,
		&:focus,
		&.active {
			color: $clr_green2;
			background: transparent;
		}
	}
}

.h {
	&-2 {
		font-family: $fnt_family_title;
		font-size: 30px;
		margin-bottom: 80px;
		padding: 80px 0 5px;
		text-align: center;
		line-height: 1.6em;
		span{
			border-bottom: solid 3px #74a92d;
			padding-bottom: 5px;
		}
		@include media-breakpoint-down(md) {
			font-size: 24px;
			margin-bottom: 60px;
			padding-top: 100px;
		}
		@include media-breakpoint-down(sm) {
			font-size: 21px;
			margin-bottom: 30px;
			padding-top: 50px;
			span {
				padding-bottom: 0;
			}
		}
	}
	&-3 {
		font-family: $fnt_family_title;
		font-size: 24px;
		color: $clr_green;
		padding: 5px 20px;
		margin-bottom: 30px;
		position: relative;
		line-height: 1.4em;
		font-weight: bold;
		@include media-breakpoint-down(md) {
			font-size: 21px;
		}
		&:before{
			content: "";
			height: 100%;
			width: 6px;
			background: $clr_green;
			border-radius: 3px;
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			margin-right: 20px;
		}
	}
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: $clr_floralwhite;
}


.tbl {
	&-border {
		table-layout: fixed;
		width: 100%;
		border-bottom: solid 1px $clr_gray3;
		th, td{
			vertical-align: middle;
		}
		tr {
			border-top: solid 1px $clr_gray3;
		}
		th{
			width: 20%;
			text-align: left;
			font-weight: bold;
			padding: 10px 0;
			span{
				color: $clr_red;
			}
		}
		td{
			padding: 15px 30px;
			width: 80%;
			.input-s{
				display: inline;
				width: 20%;
			}
			.input-m{
				display: inline;
				width: 76%;
			}
			.select-m{
				display: inline;
				width: 74%;
			}
			.ck-box{
				margin-left: 10px;
				.wpcf7-list-item {
					@extend .form-check;
					input {
						@extend .form-check-input;
					}
					label {
						@extend .form-check-label;
					}
				}

			}
		}
	}
}



.greenBarBox {
	&-title {
		background: $clr_green2;
		border-radius: 3px 30px 0 0;
		color: $clr_bg_main;
		font-size: 18px;
		font-weight: bold;
		padding: 10px;
		margin: 0;
	}
	&-content {
		background: $clr_gray4;
		border: $clr_gray3;
		border-radius: 0 0 3px 3px;
		padding: 30px;
		&-pm{
			box-sizing: border-box;
			float: left;
			width: 50%;
			h6{
				font-size: 18px;
				font-weight: bold;
				color: $clr_green2;
				margin-bottom: 20px;
			}
		}
		@include media-breakpoint-down(md) {
			padding: 15px;
		}
	}
	&-btn {
		@extend .btn;
		@extend .btn-green;
		display: block;
	}
}

//@media (max-width: 767px){
//	.pc{
//		display: none;
//	}
//
//	.sp{
//		display: block;
//	}
//	
//	.pc-t{
//		display: none;
//	}
//	
//	.sp-t{
//		display: table;
//	}
//}

.bd-radius-img{
	border-radius: 5px 30px 5px 5px;
	overflow: hidden;
	img{
		width: 100%;
	}
}

.bd-radius-img-l{
	border-radius: 0 60px 0 0;
	overflow: hidden;
	img{
		width: 100%;
	}
}

//---------------------------------------------------------
// ヘッダー
//---------------------------------------------------------
.pageHeader {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	box-shadow: 0 0 3px rgba(0, 0, 0, .1);
	@include media-breakpoint-down(md) {
		background: $clr_bg_main;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;
	}
	&-inner{
		height: 100%;
		z-index: 1000;
		position: relative;
		background: #fff;
		@include media-breakpoint-down(md) {
			height: 100%;
		}
	}
    p,
    ul {
        margin: 0;
    }
    &-logo {
		margin: 0;
		padding: 0 0 15px;
		transition: padding .3s ease;
		@include media-breakpoint-down(md) {
			padding: 8px 0 0 ;
		}
		a{
			display: block;
			img{
				width: 100%;
				max-width: 200px;
				transition: all .3s ease;
				@include media-breakpoint-down(md) {
					width: 200px;
				}
			}
		}
    }
	&-courses {
		font-size: 10px;
		line-height: 1em;
		padding: 15px 0 5px;
		@include media-breakpoint-down(md) {
			font-size: 8px;
			padding: 3px 0 8px;
		}
	}
	&-tel {
		font-weight: bold;
		font-size: 14px;
		color: $clr_green;
		small {
			font-size: 10px;
		}
		i {
			font-size: 12px;
		}
	}
    .g-navi {
		text-align:right;
        &-list {
			margin: 0 0 0 auto;
			position: relative;
            & > li {
                display:inline-block;
//                margin-left: 0px;
				position: relative;
				& > a{
					display: block;
					padding: 30px 15px;
					font-size: 14px;
					border-bottom: solid 3px transparent;
					&.g-navi-active,
					&:hover {
						position: relative;
						font-weight: bold;
						border-bottom-color: $clr_green;
					}
				}
				&:hover > .g-nav-sab-list{
					visibility: visible;
					opacity: 1;
//					top: 60px;
					& li {
						& > ul {
							position: absolute;
							right: -200px;
							width: 200px;
							top: 0;
							li a {
								background: $clr_green;
							}
						}	
					}
				}
            }
        }
    }
	.g-nav-sab-list{
		position: absolute;
		width: 200px;
		z-index: 5;
		text-align: left;
		visibility: hidden;
    	opacity: 0;
		transition: all 0.4s;
		li{
			a{
				font-size: 14px;
				background: $clr_green2;
				color: $clr_bg_main;
				display: block;
				padding: 10px 20px;
				transition: padding .3s ease;
				&:hover{
					background: $clr_green;
				}
			}
		}
	}
    .s-navi {
        text-align:right;
        li {
            display:inline-block;
            margin-left: 10px;
            a {
                font-size: 12px;
            }
        }
    }
	&.sm {
		.pageHeader {
			&-logo {
				padding: 0 0 5px;
				transition: padding .3s ease;
				@include media-breakpoint-down(md) {
					padding: 3px 0 0 ;
				}
				a img {
					width: 80%;
				}
			}
			&-courses {
				padding: 5px 0 3px;
				@include media-breakpoint-down(md) {
					padding: 1px 0 3px;
				}
			}
		}
		.g-navi-list>li>a {
			padding: 15px;
			@include media-breakpoint-down(md) {
				padding: 10px 5px;
			}
		}
		

		.spBtn {
			li a i {
				font-size: 18px;
			}
			&Trigger {
				&-icon {
					height: 18px;
				}
				&-line {
					width: 18px;
					margin-left: -9px;
				}
				&.active {
					.spBtnTrigger {
						&-line {
							&_top {
								transform: translateY(5px) rotate(-45deg);
							}
							&_bottom {
								transform: translateY(-5px) rotate(45deg);
							}
						}
					}
				}
			}
		}
	}
}

//-- スマホ -----------------------
.spBtn {
	list-style: none;
	padding: 8px 0;
	text-align: right;
	li {
		display: inline-block;
		a {
			display: block;
			text-align: center;
			padding: 5px;
			i {
				font-size: 28px;
				color: $clr_green2;
				transition: font-size .3s ease;
			}
		}
	}
	&-text {
		display: block;
		font-size: 10px;
		line-height: 1em;
		padding-top: 3px;
	}
	&Trigger {
		display: block;
		&-icon {
			position: relative;
			height: 28px;
			transition: font-size .3s ease;
		}
		&-line {
			position: absolute;
			left: 50%;
			width: 28px;
			height: 3px;
			background-color: $clr_green2;
			border-radius: 5px;
			margin-left: -14px;
			transition: all .3s ease;
			&_top {
				top: 0;
			}
			&_middle {
				top: 50%;
				margin-top: -4px;
			}
			&_bottom {
				bottom: 5px;
			}
		}
		&.active {
			.spBtnTrigger {
				&-line {
					&_top {
						transform: translateY(10px) rotate(-45deg);
					}
					&_middle {
						left: 50%;
						opacity: 0;
					}
					&_bottom {
						transform: translateY(-10px) rotate(45deg);
					}
				}
			}
		}
	}
}

.sp-navi{
	background: rgba(116, 169, 45, 0.95);
	height: calc(100% - 87px);
	display: none;
	margin: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
		width: 10px;
		&-track {
			border-radius: 5px;
			background: #eee;
		}
		&-thumb {
			border-radius: 5px;
			background: #666;
		}
	}
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 900;
	&-inner{
		padding: 25px 15px;
	}
	&-list{
		& > li{
			margin-bottom: 5px;
			& > a{
				color: $clr_bg_main;
				display: block;
				font-size: 14px;
				font-weight: bold;
				margin-bottom: 10px;
				& > img{
					position: relative;
					top: -2px;
					width: 9px;
				}
			}
			& > ul{
				margin-left: 1em;
				& > li{
					display: inline-block;
					margin: 0 2em 0 0;
					&:last-child{
						margin: 0 0 5px;
					}
					& > a{
						color: $clr_bg_main;
						font-size: 12px;
						font-weight: normal;
						& > img{
							position: relative;
							top: -1px;
							width: 6px;
						}
					}
				}
			}
		}
	}
	&-address{
		color: $clr_bg_main;
		font-size: 12px;
		margin-bottom: 3px;
	}
	&-tel{
		color: $clr_bg_main;
		margin-bottom: 5px !important;
		.fa-phone {
			font-size: 24px;
		}
		&-num {
			font-size: 28px;
			font-weight: bold;
			line-height: 1em;
			padding-left: 10px;
		}
		img {
			position: relative;
			top: -7px;
			width: 22px;
		}
	}
	&-fax {
		color: $clr_bg_main;
		font-size: 16px;
		margin-bottom: 10px !important;
	}
	&-btn {
		margin-bottom: 10px !important;
		width: 100%;
		a {
			background: $clr_green2;
			border-radius: 6px;
			color: $clr_bg_main;
			display: block;
			font-size: 18px;
			padding: 18px 0;
			text-align: center;
		}
	}
}

//---------------------------------------------------------
// メイン部分
//---------------------------------------------------------
.contact {
	padding-bottom: 100px;
	border-top: solid 10px #74a92d;
	&-logo {
		margin: 100px auto 60px;
		text-align: center;
		width: 173px;
		img {
			width: 100%;
		}
	}
	&-text {
		margin-bottom: 4px;
		img {
			position: relative;
			top: -7px;
		}
		.fa-phone {
			font-size: 20px;
			color: $clr_green4;
		}
		&-tel {
			color: $clr_green4;
			font-size: 21px;
			font-weight: bold;
			padding-left: 10px;
		}
	}
	table{
		table-layout: fixed;
		th, td{
			border: solid 1px $clr_gray3;
			text-align: center;
			vertical-align: middle;
		}
		th{
			background: $clr_floralwhite;
			font-weight: bold;
			padding: 10px 0;
		}
	}
	&-time{
		margin: 0 0 0 auto;
		width: 96%;
		th:first-child{
			padding: 10px 20px;
			text-align: left;
			width: 26%;
		}
		
		td{
			width: 10.5%;
		}
	}
	&-time-sp{
		margin: 0 auto;
		width: 100%;
		th:first-child{
			width: 33%;
		}
	}
}

/* 下層ページFV */
.fv{
	width: 100%;
	.container{
		max-width: 100%;
	}
	&-textarea{
		background: url(../../dest/img/common/fv_green.png) left top / cover no-repeat;
		padding: 0;
		&-breadcrumb{
			color: $clr_bg_main;
			font-size: 14px;
    		letter-spacing: .2em;
			padding: 50px 40px 70px;
			margin: 0;
			a{
				color: $clr_bg_main;
				text-decoration: underline;
				&:hover{
					color: $clr_gray3;
				}
			}
			@include media-breakpoint-down(sm) {
				padding: 5px 5px 10px;
				font-size: 10px;
			}
		}
		&-title{
			background: url(../../dest/img/common/logo_closs.png) left center/ 41px auto no-repeat;
			padding: 10px 30px 10px 55px;
			margin: 0 0 150px 40px;
			color: #fff;
			font-family: $fnt_family_title;
			font-size: 39px;
			letter-spacing: .15em;
			@include media-breakpoint-down(md) {
				font-size: 30px;
			}
			@include media-breakpoint-down(sm) {
				font-size: 21px;
				margin: 0 0 10px 5px;
				padding: 10px 0 15px 35px;
				background: url(../../dest/img/common/logo_closs.png) left center/25px auto no-repeat;
			}
		}
	}
	&-thumarea{
		padding: 0;
		@include media-breakpoint-down(sm) {
			height: 230px;
		}
	}
}

/* モーダルウィンドウ */
.modal {
	z-index: 9999;
	&-dialog {
		@include media-breakpoint-up(sm) {
			max-width: 90%;
		}
	}
	&-header {
		background: $clr_green2;
	}
	&-title {
		font-weight: bold;
		color: #fff;
	}
	label {
		cursor: pointer;
	}
}
.close {
	color: #fff;
}

/* 社会復帰支援タブ */

.build-link{
	background: $clr_gray2;
	padding-bottom: 100px;
	&-item{
		&-title{
			background: rgba(116, 169, 45, 0.95);
			color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			font-size: 16px;
			font-family: $fnt_family_title;
			text-align: center;
			padding: 3vw 10px;
		}
		a{
			display: block;
			position: relative;
			overflow: hidden;
			img{
				min-width: 100%;
				min-height: 100%;
				transition: all .3s;
			}
			&:hover,
			&.active {
				img {
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
				}
				.build-link-item-title {
					text-shadow: 0 0 15px rgba(0,0,0, 1);
					transition: all 0.3s ease;
					background: rgba(116, 169, 45, .5);
				}
			}
		}
	}
}


.j-top {
	bottom: 95px;
	box-sizing: border-box;
	height: 55px;
	left: -60px;
	position: fixed;
	transition: all 0.5s ease-in-out;
	width: 55px;
	a {
		background: $clr_green;
		border-radius: 5px 30px 5px 5px;
		color: $clr_bg_main;
		display: block;
		font-size: 10px;
		padding-bottom: 5px;
		text-align: center;
		&:hover{
			background: $clr_green2;
		}
	}
	&-arrow{
		margin: 0;
	}
	&-text{
		line-height: 1.1em;
		margin: 0;
	}
	&-show{
		transform: translate3d(60px, 0, 0);
	}
}

//-- スマホ -----------------------

@include media-breakpoint-down(sm) {
	.contact{
		padding-bottom: 50px;
		&-logo{
			margin: 80px auto 60px;
		}
	}
	.j-top{
		bottom: 50px;
	}
	.build-link{
		padding-bottom: 40px;
		&-item{
			margin-bottom: 30px;
			&-title{
				padding: 15px 5px;
			}
		}
	}
}
//---------------------------------------------------------
// フッター
//---------------------------------------------------------
.pageFooter {
	background: $clr_gray2;
	padding: 60px 0 0;
	a:hover{
		color: $clr_green2;
	}
	&-links{
		padding-bottom: 100px;
		&-list{
//			float: left;
			& > li{
				margin-bottom: 24px;
				& > a{
					color: $clr_green;
					display: block;
					font-size: 18px;
					margin-bottom: 6px;
				}
				& > ul{
					font-size: 14px;
					margin-left: 1.2em;
					li{
						margin-bottom: 3px;
					}
				}
			}
//			&:nth-of-type(1){
//				margin-right: 6%;
//			}
//			&:nth-of-type(2){
//				margin-right: 12%;
//			}
//			&:nth-of-type(3){
//				margin-right: 8%;
//			}
		}
	}
	.copyright{
		background: $clr_green2;
		color: $clr_bg_main;
		font-size: 10px;
		margin: 0;
		text-align: center;
	}
}

//-- スマホ -----------------------
//@include media-breakpoint-down(lg) {
//	.pageFooter-links-list{
//		&:nth-of-type(1){
//			margin-right: 3%;
//		}
//		&:nth-of-type(2){
//			margin-right: 8%;
//		}
//		&:nth-of-type(3){
//			margin-right: 3%;
//		}
//	}
//}

@include media-breakpoint-down(md) {
//	.pageFooter-links-list{
//		&:nth-of-type(1){
//			margin-right: 3%;
//			width: 24%;
//		}
//		&:nth-of-type(2){
//			margin-right: 2%;
//			width: 19%;
//		}
//		&:nth-of-type(3){
//			margin-right: 4%;
//			width: 23%;
//		}
//		&:nth-of-type(4){
//			width: 25%
//		}
//	}

	.scroll-x {
		width: 100%;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		&::-webkit-scrollbar {
			height: 5px;
			&-track {
				border-radius: 5px;
				background: #eee;
			}
			&-thumb {
				border-radius: 5px;
				background: #666;
			}
		}
		table {
			min-width: 800px;
		}
	}
	
	
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
		padding-right: 10px;
		padding-left: 10px;
	}
	
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.row {
		margin-left: -10px;
		margin-right: -10px;
	}
}

@include media-breakpoint-down(sm) {
	.pageFooter {
		padding: 0;
	}
	
}

