@charset "utf-8";
///////////////////////////////////////////////////////////
//
//   変数定義用SCSS
//   作成者：Comdesign
//   作成日：2018/1/15
//
///////////////////////////////////////////////////////////
//---------------------------------------------------------
// コンテンツ幅
//---------------------------------------------------------
// コンテンツ幅
//$cont_width:1000px;
// 余白
//$mg_s:30px;
//$mg_m:60px;
//$mg_l:120px;
//---------------------------------------------------------
// カラー
//---------------------------------------------------------
// テーマカラー
// よく使う色は「$clr_色名」で定義する
$clr_green: #74a92d;
$clr_green2: #41a97f;
$clr_green3: #72bd9f;
$clr_green4: #0f9b4d;
$clr_green5: #f5fbec;
$clr_gray: #333;
$clr_gray2: #f3f3f3;
$clr_gray3: #ccc;
$clr_gray4: #f2f2f2;
$clr_red: #D82023;

$clr_floralwhite: #fffaf0;
//背景メインカラー
$clr_bg_main:#fff;
//背景サブカラー
$clr_bg_sub:#f3f3f3;
//通常テキスト メインカラー
$clr_txt_main:$clr_gray;
//通常テキスト サブカラー
$clr_txt_sub:#999;
//テキストリンク カラー
$clr_a_main:$clr_gray;
//テキストリンク ホバー・フォーカスカラー
$clr_a_hover:$clr_green;
//---------------------------------------------------------
// デフォルトフォント設定
//---------------------------------------------------------
// フォントサイズ
$fnt_size_default:16;
// 太さ
$fnt_weight_default:500;
// 行間
$fnt_lh_default:1.6em;
// フォントファミリー
$fnt_family_default: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo UI","メイリオ",Meiryo,"游ゴシック","Yu Gothic","游ゴシック体","YuGothic","ＭＳ Ｐゴシック","MS PGothic",sans-serif;

$fnt_family_title: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;