@charset "utf-8";
///////////////////////////////////////////////////////////
//
//   トップページ用SCSS
//   作成者：Comdesign
//   作成日：2018/1/15
//
///////////////////////////////////////////////////////////



//---------------------------------------------------------
// 必要ファイルインポート
//---------------------------------------------------------
@import "variables";
@import "mixins";
@import "common";



//---------------------------------------------------------
// PC（ベース）
//---------------------------------------------------------
.fv{
	&-thumarea{
		background: url(../../dest/img/clover/h2_fv.png)no-repeat center center;
		background-size: cover;
	}
}

.user{
	padding-bottom: 100px;
	text-align: center;
	.col-md-8{
		margin: 0 auto;
		border: solid 1px $clr_gray3;
		border-radius: 5px 30px 5px 5px;
		padding: 20px 15px;
	}
	&-title{
		font-size: 24px;
		color: $clr_green2;
		margin-bottom: 15px;
	}
	&-text{
		margin-bottom: 0;
	}
}

.detail{
	background: $clr_gray2;
	padding-bottom: 30px;
	&-contents{
		&-thum{
			margin: 0;
			img{
				 width: 100%;
			}
		}
		&-textarea{
			border-radius: 0 0 5px 5px;
			background: $clr_bg_main;
			padding: 20px;
		}
		&-title{
			font-size: 16px;
			font-weight: bold;
		}
		&-text{
			margin: 0;
		}
		&-anno{
			font-size: 12px;
			text-align: center;
			margin: 40px 0 0;
		}
	}
}

.status{
	background: $clr_gray2;
	padding-bottom: 100px;
	&-content{
		margin-bottom: 30px;
		&-title{
			font-family: $fnt_family_title;
			font-size: 24px;
			color: $clr_green;
			margin-bottom: 30px;
			position: relative;
			line-height: 50px;
			&:before{
				content: "";
				height: 50px;
				width: 6px;
				background: $clr_green;
				border-radius: 3px;
				display: inline-block;
				position: relative;
				top: 16px;
				margin-right: 20px;
			}
		}
		&-list{
			background: $clr_bg_main;
			border-radius: 5px 30px 5px 5px;
			padding: 30px 30px 10px;
			dl{
				margin-bottom: 20px;
				padding-bottom: 20px;
				border-bottom: solid 1px $clr_gray3;
				clear: both;
				&:last-child{
					border-bottom: none;
				}
				dt{
					width: 140px;
					margin: 0;
					padding: 0;
					float: left;
					clear: left;
				}
				dd{
					margin: 0 0 0 160px;
					padding: 0 0 0 20px;
				}
			}
			p{
				padding-bottom: 10px;
			}
		}
	}
}

.application{
	margin: 0 auto 100px;
	background: $clr_bg_main;
	border-radius: 5px 30px 5px 5px;
	padding: 0 70px 40px;
	&-text{
		text-align: center;
		margin-bottom: 30px;
	}
	&-btn{
		width: 350px;
		margin: 0 auto 20px;
		a{
			border-radius: 5px;
			box-sizing: border-box;
			color: #FFF;
			display: block;
			font-size: 19px;
			padding: 20px 0;
			text-align: center;
			background: $clr_green2;
			border: solid 2px $clr_green2;
			&:hover{
				background: transparent;
				color: $clr_green2;
			}
		}
	}
	&-tel{
		color: $clr_green4;
		font-size: 32px;
		font-weight: 700;
		margin: 18px 0;
		text-align: center;
		img{
			position: relative;
			top: -3px;
			padding-right: 10px;
		}
	}
}

.ggmap {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.ggmap iframe,
.ggmap object,
.ggmap embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


//---------------------------------------------------------
// SP
//---------------------------------------------------------
@include media-breakpoint-down(lg){

}

@include media-breakpoint-down(md){

}

@include media-breakpoint-down(md){

	.intro{
		padding-bottom: 40px;
	}
	
	.user{
		margin: 0 15px;
		padding-bottom: 40px;
	}
	
	.detail{
		padding-bottom: 40px;
		&-contents{
			&-textarea{
				margin-bottom: 30px;
			}
			&-anno{
				margin: 0;
				text-align: left;
				line-height: 150%;
			}
		}
	}
	
	.status{
		padding-bottom: 40px;
		&-content{
			&-list{
				padding: 15px 15px 0;
				dl{
					margin-bottom: 10px;
					padding-bottom: 10px;
					dt{
						width: 100px;
					}
					dd{
						margin: 0 0 0 110px;
					}
				}
			}
		}
		.application{
			padding: 15px;
			margin: 0;
			h3{
				padding: 20px 0 5px;
			}
			&-btn{
				width: 100%;
				margin: 0 0 20px;
			}
		}
	}
	
	
}