@charset "utf-8";
///////////////////////////////////////////////////////////
//
//   トップページ用SCSS
//   作成者：Comdesign
//   作成日：2018/1/15
//
///////////////////////////////////////////////////////////



//---------------------------------------------------------
// 必要ファイルインポート
//---------------------------------------------------------
@import "variables";
@import "mixins";
@import "common";



//---------------------------------------------------------
// PC（ベース）
//---------------------------------------------------------
.fv{
	&-thumarea{
		background: url(../../dest/img/contact/k1_fv.png)no-repeat right top;
		background-size: cover;
	}
}

.contact-form{
	padding-bottom: 100px;
	.col-md-8{
		margin: 0 auto;
	}
	&-main{
		margin-bottom: 40px;
		label{
			margin: 0;
		}
	}
	&-text{
		span{
			color: $clr_red;
		}
	}
}


#addressNum-bef {
	display: inline-block;
	max-width: 5em;
}


#addressNum-aft {
	display: inline-block;
	max-width: 7em;
}

//---------------------------------------------------------
// SP
//---------------------------------------------------------
@include media-breakpoint-down(lg){
	
}

@include media-breakpoint-down(md){
	
}

@include media-breakpoint-down(sm){

	.contact-form{
		padding-bottom: 40px;
	}
	.contact-form-main table td{
		padding: 15px;
	}
	.contact-form-main table td .input-s{
		width: 36%;
	}
	.contact-form-main table td .input-m{
		width: 65%;
	}
	.contact-form-main table td .select-m{
		width: 62%;
	}
}