@charset "utf-8";
///////////////////////////////////////////////////////////
//
//   トップページ用SCSS
//   作成者：Comdesign
//   作成日：2018/1/15
//
///////////////////////////////////////////////////////////



//---------------------------------------------------------
// 必要ファイルインポート
//---------------------------------------------------------
@import "variables";
@import "mixins";
@import "common";



//---------------------------------------------------------
// PC（ベース）
//---------------------------------------------------------
.fv{
	&-thumarea{
		background: url(../../dest/img/contact/k1_fv.png)no-repeat right top;
		background-size: cover;
	}
}

h3{
	font-family: $fnt_family_title;
	font-size: 34px;
	margin-bottom: 100px;
	padding: 100px 0 5px;
	text-align: center;
	line-height: 64px;
	span{
		border-bottom: solid 3px #74a92d;
		padding-bottom: 5px;
	}
}

.contact-form{
	padding-bottom: 100px;
	.col-md-8{
		margin: 0 auto;
	}
	&-main{
		margin-bottom: 40px;
		label{
			margin: 0;
		}
		table{
			table-layout: fixed;
			width: 100%;
			th, td{
				vertical-align: middle;
			}
			th{
				border-top: solid 1px $clr_gray3;
				width: 20%;
				text-align: left;
				font-weight: bold;
				padding: 10px 0;
				span{
					color: $clr_red;
				}
			}
			td{
				border-top: solid 1px $clr_gray3;
				padding: 15px 30px;
				width: 80%;
				.input-s{
					display: inline;
					width: 20%;
				}
				.input-m{
					display: inline;
					width: 76%;
				}
				.select-m{
					display: inline;
					width: 74%;
				}
				.ck-box{
					margin-left: 10px;
				}
			}
		}
	}
	&-text{
		span{
			color: $clr_red;
		}
	}
}


#addressNum-bef {
	max-width: 5em;
}


#addressNum-aft {
	max-width: 7em;
}

//---------------------------------------------------------
// SP
//---------------------------------------------------------
@media (max-width: 1200px){
	
}

@media (max-width: 992px){
	
}

@media (max-width: 767px){
	h3{
		font-size: 24px;
		margin-bottom: 50px;
    	padding: 80px 0 5px;
		line-height: 180%;
	}
	.contact-form{
		padding-bottom: 40px;
	}
	.contact-form-main table td{
		padding: 15px;
	}
	.contact-form-main table td .input-s{
		width: 36%;
	}
	.contact-form-main table td .input-m{
		width: 65%;
	}
	.contact-form-main table td .select-m{
		width: 62%;
	}
}