@charset "utf-8";
///////////////////////////////////////////////////////////
//
//   トップページ用SCSS
//   作成者：Comdesign
//   作成日：2018/1/15
//
///////////////////////////////////////////////////////////



//---------------------------------------------------------
// 必要ファイルインポート
//---------------------------------------------------------
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";
@import "./_variables.scss";
@import "./_mixins.scss";
@import "./_common.scss";



//---------------------------------------------------------
// PC（ベース）
//---------------------------------------------------------
.fv{
	width: 100%;
	.container{
		max-width: 100%;
	}
	&-textarea{
		background: url(../../dest/img/outpatient/b1_fv_green.png)no-repeat left top;
		background-size: cover;
		position: relative;
		padding: 0;
	}
	&-breadcrumb{
		color: $clr_bg_main;
		font-size: 14px;
		letter-spacing: 0.2em;
		padding: 50px 0 70px 15%;
		a{
			color: $clr_bg_main;
			text-decoration: underline;
			&:hover{
				color: $clr_gray3;
			}
		}
	}
	&-title{
		color: $clr_bg_main;
		font-family: $fnt_family_title;
		font-size: 39px;
		letter-spacing: 0.25em;
		padding: 0 0 150px 15%;
		img{
			padding-right: 15px;
			position: relative;
			top: -5px;
		}
	}
	&-thumarea{
		background: url(../../dest/img/doctor/d3_fv.jpg)no-repeat right top;
		background-size: cover;
		padding: 0;
	}
}

h3{
	font-family: $fnt_family_title;
	font-size: 34px;
	margin-bottom: 100px;
	padding: 100px 0 5px;
	text-align: center;
	line-height: 64px;
	span{
		border-bottom: solid 3px #74a92d;
		padding-bottom: 5px;
	}
}

.staff-list{
	margin-bottom: 140px;
	&-text{
		margin: 0 auto 60px;
		text-align: center;
	}
	h4{
		font-family: $fnt_family_title;
		font-size: 24px;
		color: $clr_green;
		margin-bottom: 60px;
		position: relative;
		line-height: 50px;
		&:before{
			content: "";
			height: 50px;
			width: 6px;
			background: $clr_green;
			border-radius: 3px;
			display: inline-block;
			position: relative;
			top: 16px;
			margin-right: 20px;
		}
	}
	&-member{
		margin-bottom: 40px;
		&-inner{
			border-top: solid 1px $clr_green;
			border-right: solid 1px $clr_green;
			border-radius: 0 30px 0 0;
			padding: 46px 12px 0 0;
		}
		h5{
			font-family: $fnt_family_title;
			font-size: 34px;
			letter-spacing: 0.3em;
			margin-bottom: 4px;
			span{
				font-size: 18px;
				padding-left: 10px;
				letter-spacing: 0.3em;
			}
		}
		&-roman{
			font-family: $fnt_family_title;
			font-size: 18px;
			margin-bottom: 24px;
		}
		&-reco{
			margin-bottom: 24px;
			
			li{
				margin-bottom: 4px;
			}
		}
		&-comment{
			border-top: solid 1px $clr_green2; 
			color: $clr_green2;
			font-family: $fnt_family_title;
			font-size: 24px;
			width: 75%;
			padding: 24px 0 0;
			margin-bottom: 10px;
			
		}
		&-text{
			margin: 0;
		}
		.staff-height1{
			height: 466px;
			.staff-list-member-reco{
				height: 152px;
			}
		}
		.staff-height2{
			.staff-list-member-reco{
				height: 152px;
				margin: 0;
			}
		}
	}
}

//---------------------------------------------------------
// SP
//---------------------------------------------------------
@media (max-width: 1200px){
	.staff-list-member h5 span{
		letter-spacing: 0.1em;
	}
	.staff-list-member .staff-height1{
		height: 500px;
		.staff-list-member-reco{
			height: 152px;
		}
	}
	.staff-list-member .staff-height2{
		height: 335px;
		.staff-list-member-reco{
			height: auto;
		}
	}
}

@media (max-width: 992px){
	.staff-list-member .staff-height1{
		height: 520px;
		.staff-list-member-reco{
			height: 152px;
		}
	}
	.staff-list-member .staff-height2{
		height: 420px;
		.staff-list-member-reco{
			height: auto;
		}
	}
}

@media (max-width: 767px){
	.fv{
		width: auto;
		&-breadcrumb{
			padding: 40px 0 0 15px;
		}
		&-title{
			font-size: 28px;
			padding: 0 0 40px 15px;
		}
		&-thumarea{
			height: 200px;
		}
	}
	h3{
		font-size: 24px;
		margin-bottom: 50px;
    	padding: 80px 0 5px;
		line-height: 180%;
	}
	.staff-list {
		margin-bottom: 30px;
		h4{
			margin-bottom: 30px;
		}
	}
	.staff-list-member{
		h5{
			font-size: 28px;
		}
		.staff-height1{
			height: auto;
			.staff-list-member-reco{
				height: auto;
			}
		}
		.staff-height2{
			height: auto;
			.staff-list-member-reco{
				height: auto;
			}
		}
	}
}