@charset "utf-8";
///////////////////////////////////////////////////////////
//
//   トップページ用SCSS
//   作成者：Comdesign
//   作成日：2018/1/15
//
///////////////////////////////////////////////////////////



//---------------------------------------------------------
// 必要ファイルインポート
//---------------------------------------------------------
@import "variables";
@import "mixins";
@import "common";



//---------------------------------------------------------
// PC（ベース）
//---------------------------------------------------------
.fv{
	&-thumarea{
		background: url(../../dest/img/history/fv.jpg)no-repeat right top;
		background-size: cover;
	}
}

.thumblock{
	margin-bottom: 30px;
	img{
		width: 100%;
	}
}

.textblock{
	margin-bottom: 100px;
	dl{
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: solid 1px $clr_gray3;
		clear: both;
		dt{
			width: 120px;
			margin: 0;
			padding: 0;
			float: left;
			clear: left;
		}
		dd{
			margin: 0 0 0 120px;
			padding: 0 0 0 20px;
		}
	}
}

//---------------------------------------------------------
// SP
//---------------------------------------------------------
@include media-breakpoint-down(lg){
	
}

@include media-breakpoint-down(md){
	
}

@include media-breakpoint-down(sm){

	.textblock{
		margin-bottom: 40px;
		dl{
			dt{
				width: 80px;
			}
			dd{
				margin: 0 0 0 80px;
				padding: 0 0 0 5px;
			}
		}
	}
}