@charset "utf-8";
///////////////////////////////////////////////////////////
//
//   トップページ用SCSS
//   作成者：Comdesign
//   作成日：2018/1/15
//
///////////////////////////////////////////////////////////



//---------------------------------------------------------
// 必要ファイルインポート
//---------------------------------------------------------
@import "variables";
@import "mixins";
@import "common";



//---------------------------------------------------------
// PC（ベース）
//---------------------------------------------------------
.fv{
	&-thumarea{
		background: url(../../dest/img/medical-personnel/e1_fv.png)no-repeat right top;
		background-size: cover;
	}
}

.intro{
	padding-bottom: 100px;
	&-thum{
		img{
			width: 100%;
		}
	}
	&-text{
		&-supple{
			margin-bottom: 40px;
		}
		dl{
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: solid 1px $clr_gray3;
			clear: both;
			dt{
				color: $clr_green2;
				width: 120px;
				margin: 0;
				padding: 0 0 0 20px;
				float: left;
				clear: left;
			}
			dd{
				margin: 0 0 0 120px;
				padding: 0 0 0 20px;
			}
		}
	}
}

.role{
	background: $clr_gray2;
	padding-bottom: 100px;
	&-text{
		text-align: center;
	}
}

.introduce{
	padding-bottom: 100px;
	.col-md-9{
		margin: 0 auto;
	}
	&-flow{
		&-title{
			background: $clr_green2;
			border-radius: 5px 30px 0 0;
			color: $clr_bg_main;
			font-size: 18px;
			font-weight: 400;
			padding: 20px 30px;
			margin: 0;
		}
		&-main{
			background: $clr_gray4;
			border: $clr_gray3;
			border-radius: 0 0 3px 3px;
			padding: 30px;
			&-text{
				margin-bottom: 20px;
				span{
					font-weight: bold;
				}
			}
			&-list{
				margin-bottom: 20px;
				li{
					margin-bottom: 8px;
				}
			}
			&-tel{
				color: $clr_green4;
				font-size: 20px;
				font-weight: bold;
				img{
					position: relative;
					top: -3px;
					padding-right: 10px;
				}
			}
			&-anno{
				font-size: 12px;
				line-height: 150%;
			}
		}
	}
	.arrow{
		padding: 20px 0;
		text-align: center;
	}
}

//---------------------------------------------------------
// SP
//---------------------------------------------------------
@include media-breakpoint-down(lg){
	
}

@include media-breakpoint-down(md){
	
}

@include media-breakpoint-down(sm){

	
	.intro{
		padding-bottom: 40px;
	}
	.introduce{
		padding-bottom: 40px;
	}
	.role{
		padding-bottom: 40px;
	}
	
}