@charset "utf-8";
///////////////////////////////////////////////////////////
//
//   トップページ用SCSS
//   作成者：Comdesign
//   作成日：2018/1/15
//
///////////////////////////////////////////////////////////



//---------------------------------------------------------
// 必要ファイルインポート
//---------------------------------------------------------
@import "variables";
@import "mixins";
@import "common";



//---------------------------------------------------------
// PC（ベース）
//---------------------------------------------------------
.fv{
	&-thumarea{
		background: url(../../dest/img/news-detail/j2_fv.png)no-repeat right top;
		background-size: cover;
	}
}

.news{
	padding: 100px 0;
	&-thum{
		img{
			max-width: 100%;
		}
	}
	&-titleblock{
		margin-bottom: 40px;
	}
	&-title{
		font-size: 28px;
		color: $clr_green2;
		font-family: $fnt_family_title;
		margin-bottom: 10px;
	}
	&-data{
		font-size: 13px;
		display: inline-block;
		margin-right: 10px;
	}
	&-cate{
		display: inline-block;
	}
	&-text{
		margin-bottom: 20px;
	}
	&-btn{
		a{
			color: $clr_bg_main;
			background: $clr_green2;
			padding: 8px 20px;
			border-radius: 5px;
			border: solid 2px $clr_green2;
			&:hover{
				color: $clr_green2;
				background: transparent;
			}
		}
	}
	&-side{
		margin-bottom: 40px;
		h4{
			background: $clr_green2;
			border-radius: 5px 30px 0 0;
			color: $clr_bg_main;
			font-size: 18px;
			font-weight: normal;
			padding: 10px 16px;
			margin: 0;
		}
		p{
			border-left: solid 1px $clr_gray3;
			border-bottom: solid 1px $clr_gray3;
			border-right: solid 1px $clr_gray3;
			margin: 0;
			a{
				display: block;
				padding: 10px 16px;
				&:hover{
					color: $clr_bg_main;
					background: $clr_green;
				}
				small{
					display: inline-block;
    				width: 100%;
				}
			}
		}
	}
}

/* 記事ページ用 ネイティブCSS */
.news-textblock{
	/* editor */
	h2{
		font-size: 24px;
		font-weight: bold;
		font-family: $fnt_family_title;
	}
	h3{
		font-size: 20px;
		font-weight: bold;
		font-family: $fnt_family_title;
	}
	h4, h5, h6{
		font-size: 18px;
		font-weight: bold;
		font-family: $fnt_family_title;
	}
	p {
		display: block;
		margin: 1em 0;
	}
	strong { font-weight: bold; }
	em { font-style: italic; }
	blockquote {
		display: block;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 40px;
		-webkit-margin-end: 40px;
	}
	
	ul{
		list-style: circle;
	}
	
	ol{
		list-style: decimal;
	}
	
	/* img */
	.aligncenter {
		display: block;
		margin: 0 auto;
	}
	.alignright { float: right; }
	.alignleft { float: left; }

	img[class*="wp-image-"],
	img[class*="attachment-"] {
		height: auto;
		max-width: 100%;
	}
	
	/* clearfix */ 
	.clearfix {
		overflow: hidden;
		zoom: 1;
	}
	.clearfix:after {
		content: "";
		display: block;
		clear: both;
	}
}





//---------------------------------------------------------
// SP
//---------------------------------------------------------
@include media-breakpoint-down(lg){

}

@include media-breakpoint-down(md){

}

@include media-breakpoint-down(sm){

	.news{
		padding: 40px 0;
		&-text{
			margin-bottom: 60px;
		}
		&-side{
			margin-bottom: 20px;
		}
	}
}