@charset "utf-8";
///////////////////////////////////////////////////////////
//
//   トップページ用SCSS
//   作成者：Comdesign
//   作成日：2018/1/15
//
///////////////////////////////////////////////////////////



//---------------------------------------------------------
// 必要ファイルインポート
//---------------------------------------------------------
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";
@import "./_variables.scss";
@import "./_mixins.scss";
@import "./_common.scss";



//---------------------------------------------------------
// PC（ベース）
//---------------------------------------------------------
.fv{
	width: 100%;
	.container{
		max-width: 100%;
	}
	&-textarea{
		background: url(../../dest/img/outpatient/b1_fv_green.png)no-repeat left top;
		background-size: cover;
		position: relative;
		padding: 0;
	}
	&-breadcrumb{
		color: $clr_bg_main;
		font-size: 14px;
		letter-spacing: 0.2em;
		padding: 50px 0 70px 15%;
		a{
			color: $clr_bg_main;
			text-decoration: underline;
			&:hover{
				color: $clr_gray3;
			}
		}
	}
	&-title{
		color: $clr_bg_main;
		font-family: $fnt_family_title;
		font-size: 39px;
		letter-spacing: 0.25em;
		padding: 0 0 150px 15%;
		img{
			padding-right: 15px;
			position: relative;
			top: -5px;
		}
	}
	&-thumarea{
		background: url(../../dest/img/privacy/d8_fv.png)no-repeat right top;
		background-size: cover;
		padding: 0;
	}
}

h3{
	font-family: $fnt_family_title;
	font-size: 34px;
	margin-bottom: 80px;
	padding: 100px 0 5px;
	text-align: center;
	line-height: 64px;
	span{
		border-bottom: solid 3px #74a92d;
		padding-bottom: 5px;
	}
}

.intro-text{
	margin: 80px auto 0;
	text-align: center;
}

.textblock{
	margin: 0 auto 80px;
	h4{
		font-family: $fnt_family_title;
		font-size: 24px;
		color: $clr_green;
		margin-bottom: 30px;
		position: relative;
		line-height: 50px;
		&:before{
			content: "";
			height: 50px;
			width: 6px;
			background: $clr_green;
			border-radius: 3px;
			display: inline-block;
			position: relative;
			top: 16px;
			margin-right: 20px;
		}
	}
	ol{
		margin-bottom: 30px;
		li{
			margin-bottom: 10px;
		}
	}
	.name{
		text-align: right;
		margin: 0;
	}
}

//---------------------------------------------------------
// SP
//---------------------------------------------------------
@media (max-width: 1200px){
	
}

@media (max-width: 992px){
	
}

@media (max-width: 767px){
	.fv{
		width: auto;
		&-breadcrumb{
			padding: 40px 0 0 15px;
		}
		&-title{
			font-size: 28px;
			padding: 0 0 40px 15px;
			letter-spacing: 0.2em;
		}
		&-thumarea{
			height: 200px;
		}
	}
	h3{
		font-size: 20px;
		margin-bottom: 20px;
    	padding: 50px 0 5px;
		line-height: 180%;
	}
	.intro-text{
		margin: 40px auto 0;
		text-align: left;
	}
	.textblock{
		margin: 0 auto 40px;
		h4{
			line-height: 40px;
			font-size: 20px;
			&:before{
				height: 44px;
			}
		}
	}
}