@charset "utf-8";
///////////////////////////////////////////////////////////
//
//   トップページ用SCSS
//   作成者：Comdesign
//   作成日：2018/1/15
//
///////////////////////////////////////////////////////////



//---------------------------------------------------------
// 必要ファイルインポート
//---------------------------------------------------------
@import "node_modules/bootstrap/scss/bootstrap";
@import "./_variables.scss";
@import "./_mixins.scss";
@import "./_common.scss";



//---------------------------------------------------------
// PC（ベース）
//---------------------------------------------------------
.fv{
	&-thumarea{
		background: url(../../dest/img/second-opinion/b2_fv.png)no-repeat right top;
		background-size: cover;
	}
}

h3{
	font-family: $fnt_family_title;
	font-size: 34px;
	margin-bottom: 30px;
	padding: 100px 0 5px;
	text-align: center;
	line-height: 64px;
	span{
		border-bottom: solid 3px #74a92d;
		padding-bottom: 5px;
	}
}

.textblock{
	margin: 0 auto;
	p{
		text-align: center;
	}
}

.outer{
	padding-bottom: 100px;
	&-cation{
		box-sizing: border-box;
		border: solid 1px $clr_gray3;
		padding: 30px 60px 20px;
		margin-bottom: 40px;
		&-icon{
			margin-bottom: 20px;
		}
	}
}


//---------------------------------------------------------
// SP
//---------------------------------------------------------
@media (max-width: 1200px){
	
}

@media (max-width: 992px){
	
}

@media (max-width: 767px){
	h3{
		font-size: 20px;
		margin-bottom: 30px;
    	padding: 80px 0 5px;
		line-height: 180%;
	}
	
	.textblock{
		p{
			text-align: left;
		}
	}
	.outer{
		padding-bottom: 40px;
		&-cation{
			box-sizing: border-box;
			border: solid 1px $clr_gray3;
			padding: 30px 30px 20px;
			margin-bottom: 30px;
			&-icon{
				text-align: center !important;
			}
		}
	}
	
}