@charset "utf-8";
///////////////////////////////////////////////////////////
//
//   トップページ用SCSS
//   作成者：Comdesign
//   作成日：2018/1/15
//
///////////////////////////////////////////////////////////



//---------------------------------------------------------
// 必要ファイルインポート
//---------------------------------------------------------
@import "variables";
@import "mixins";
@import "common";



//---------------------------------------------------------
// PC（ベース）
//---------------------------------------------------------
.fv{
	&-thumarea{
		background: url(../../dest/img/second-opinion/b2_fv.png)no-repeat right top;
		background-size: cover;
	}
}

.textblock{
	margin: 0 auto;
	p{
		text-align: center;
	}
}

.outer{
	padding-bottom: 100px;
	&-cation{
		box-sizing: border-box;
		border: solid 1px $clr_gray3;
		padding: 30px 60px 20px;
		margin-bottom: 40px;
		&-icon{
			margin-bottom: 20px;
		}
	}
}


//---------------------------------------------------------
// SP
//---------------------------------------------------------
@include media-breakpoint-down(lg){
	
}

@include media-breakpoint-down(md){
	
}

@include media-breakpoint-down(sm){

	.textblock{
		p{
			text-align: left;
		}
	}
	.outer{
		padding-bottom: 40px;
		&-cation{
			box-sizing: border-box;
			border: solid 1px $clr_gray3;
			padding: 30px 30px 20px;
			margin-bottom: 30px;
			&-icon{
				text-align: center !important;
			}
		}
	}
	
}